---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "$549 Flat",
    description:
      "Our drop-off photo booths save you money by eliminating the need for attendants, complicated set ups and tons of props. Enjoy a top-notch classic booth experience at a fraction of the cost.",
    icon: "mdi:cash",
  },
  {
    title: "The Best Photos Ever",
    description:
      "We focus on delivering extremely high-quality photos without unnecessary extras—just what you need for an amazing event. Classic photos are timeless and we like that.",
    icon: "mdi:scissors-cutting",
  },
  {
    title: "Fun and Personal",
    description:
      "Create authentic moments with your friends and family in a booth that's all yours—no distractions, just fun.",
    icon: "mdi:party-popper",
  },
  {
    title: "BYOP - Bring Your Own Props",
    description:
      "Skip reused props! Bring your own for a cleaner, more personalized experience. Get affordable props from Prop Chic NC or Amazon.",
    icon: "mdi:glasses",
  },
  {
  title: "Hassle-Free Setup and Breakdown",
  description:
    "We handle everything for you! Our team arrives 45 minutes before your event to set up the booth and ensures a seamless teardown once the fun wraps up.",
  icon: "mdi:people",
  },
  {
    title: "Professional Backdrops",
    description:
      "From weddings to birthdays, our booths can be tailored to fit any theme or event. The possibilities are endless!",
    icon: "mdi:palette",
  }
];
---

<ContentSection title="Why Choose Us?" id="features">
  <Fragment slot="lead">
    Discover why our <span class="text-primary">drop-off photo booth service</span> is the perfect choice for your next event. 
    Affordable, fun, and flexible—everything you need to make lasting memories.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
