---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    "title": "$549 Flat",
    "description": "No haggling, no quotes, no back-and-forth. This is the price—$549 flat for 3 hours. Enjoy a top-quality photo booth experience at the best price without sacrificing quality. Simple, transparent, and hassle-free. Need more time or something custom? Let us know!",
    "icon": "mdi:cash"
  },
  {
    "title": "Professional Photos",
    "description": 
    "At this price point, most companies offer iPad booths that your iPhone could outperform. We’re different. Our booths use professional mirrorless cameras and studio-grade flash to make every shot look incredible—like a popstar moment! See the difference in the photos below.",
    "icon": "mdi:scissors-cutting"
  },
  {
    "title": "Fun and Personal",
    "description": 
    "Our booths are unattended by design, giving you privacy to create authentic moments without anyone watching. Plus, you save money by not paying for an attendant. It’s just you, your friends, and all the fun—completely stress-free!",
    "icon": "mdi:party-popper"
  },
  {
    "title": "BYOP",
    "description": 
    "Bring your own props! Most companies overcharge for generic props that don’t match your vision. With so many great options like Prop Chic NC, Lush Party Studio, or Amazon, you can save money and get props that perfectly fit your theme. Need help? Just ask us for guidance!",
    "icon": "mdi:glasses"
  },
  {
  "title": "Professional Backdrops",
  "description":
    "We offer classic backdrops that make your pictures pop! Choose from timeless black-and-white glam to dazzling silver and champagne sparkle, perfectly suited for any occasion.",
  "icon": "mdi:palette"
  },
  {
  title: "Hassle-Free Setup and Breakdown",
  description:
    "We handle everything for you! Our team arrives 45 minutes before your event to set up the booth and ensures a seamless teardown once the fun wraps up.",
  icon: "mdi:people",
  }

];
---

<div style="padding-top: 8rem;">
<ContentSection title="Why Choose Us?" id="features">
  <Fragment slot="lead">
    Discover why our <span class="text-primary">photo booth service</span> is the perfect choice for your next event.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
</div>