---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Starting at $549",
    description:
      "At Popstar Photo Booths, there’s a package for everyone. Starting at just $549, we offer a variety of options to suit your needs and budget—all without sacrificing quality. Whether you want something simple or fully customized, we’ve got you covered!",
    icon: "mdi:cash"
  },
  {
    title: "Popstar-Worthy Photos",
    description:
      "Step into the spotlight with our professional mirrorless cameras and studio-grade lighting. We deliver high-quality photos that make you look and feel like a popstar. The proof is in the pictures!",
    icon: "mdi:camera"
  },
  {
    title: "Customizable Experiences",
    description:
      "Your event deserves a personal touch. From custom prints to hedge walls and stunning backdrops, we create a photo booth experience tailored to your unique vision. Let’s make your event unforgettable!",
    icon: "mdi:palette"
  },
  {
    title: "Rave Reviews",
    description:
      "We’re passionate about making your event amazing. Our team is dedicated to providing the best customer service and creating a memorable experience for you and your guests. With glowing reviews from happy customers, you can trust Popstar Photo Booths to deliver!",
    icon: "mdi:star-circle"
  },
  {
    title: "Instant Sharing",
    description:
      "Keep the fun going even after the photos are taken! Our booths make it easy to instantly share your favorite memories with friends and family via text, email, or social media. It’s all about making your event unforgettable for everyone.",
    icon: "mdi:share-variant"
  },
  {
    title: "Seamless Setup and Breakdown",
    description:
      "We handle all the logistics so you don’t have to. Our team arrives 45 minutes before your event to set up and ensures everything is taken down seamlessly once the fun is over. Relax—we’ve got it covered!",
    icon: "mdi:truck"
  }
];

---

<div style="padding-top: 8rem;">
<ContentSection title="Why Choose Us?" id="features">
  <Fragment slot="lead">
    Discover why our <span class="text-primary">photo booth service</span> is the perfect choice for your next event.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
</div>