---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://instagram.com/popstarphotobooths",
    description: "Instagram",
    icon: "fa-brands:instagram",
  },
];
---

<footer
  class="relative flex h-auto w-full flex-col items-center justify-center bg-black py-16 text-white"
>
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative flex w-full max-w-5xl flex-col items-center gap-6">
    <!-- Logo -->
    <img
      src="/logo-white.png"
      alt="Popstar Photo Booths Logo"
      class="h-12 w-auto"
    />

    <!-- Instagram Button -->
    <div class="mt-4">
      <a
        href="https://instagram.com/popstarphotobooths"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center justify-center gap-2 rounded-full border-2 border-white p-4 text-white hover:bg-gray-800"
      >
        <span class="sr-only">Instagram</span>
        <Icon name="fa-brands:instagram" class="size-6" />
      </a>
    </div>

    <!-- Call Danny Button -->
    <div class="mt-4">
      <a
        href="tel:+19192787226"
        class="inline-block rounded bg-red-600 px-6 py-3 text-lg font-bold text-white hover:bg-red-700 focus:bg-red-700 active:bg-red-800"
      >
        Call Danny
      </a>
    </div>
  </div>
</footer>

