---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://instagram.com/popstarphotobooths",
    description: "Instagram",
    icon: "fa-brands:instagram",
  },
];
---
<footer class="relative flex h-auto flex-col items-center justify-center py-16 bg-black text-white w-full">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative flex flex-col items-center gap-6 max-w-5xl w-full">
    <!-- Logo -->
    <div class="flex items-center justify-center">
      <a href="/"><img 
        src="src/assets/logo-white.png" 
        alt="Popstar Photo Booths Logo" 
        class="h-12 w-auto"
      />
      </a>
    </div>

    <!-- Instagram Button -->
    <div class="mt-4">
      <a
        href="https://instagram.com/popstarphotobooths"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center justify-center gap-2 rounded-full border-2 border-white p-4 text-white hover:bg-gray-800"
      >
        <span class="sr-only">Instagram</span>
        <Icon name="fa-brands:instagram" class="size-6" />
      </a>
    </div>
  </div>
</footer>


