---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Past Events" id="gallery">
  <Fragment slot="lead">
    Our photo booths are perfect for capturing <span class="text-primary">unforgettable moments</span> at every type of celebration.
  </Fragment>
</ContentSection>
<div class="gallery-container">
  <div class="elfsight-app-e6f49012-bd96-409a-a92b-2459ad4064a8" data-elfsight-app-lazy></div>
</div>

<style>
  .gallery-container {
    max-width: 1200px; /* Match this width to the other components' max width */
    margin: 0 auto; /* Center the container */
    padding: 0 16px; /* Add some padding for mobile */
  }
</style>

<script src="https://static.elfsight.com/platform/platform.js" async></script>
