---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Past Events" id="contact">
  <Fragment slot="lead">
    Our photo booths are perfect for capturing <span class="text-primary">unforgettable moments</span> at every type of celebration. Drop us a line to make your event shine!
  </Fragment>
</ContentSection>

<script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-e6f49012-bd96-409a-a92b-2459ad4064a8" data-elfsight-app-lazy></div>
