---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="The People Have Spoken" id="reviews">
  <Fragment slot="lead">
    Your search is <span class="text-primary">finally</span> over.
  </Fragment>
</ContentSection>
<div id="reviews">
  <script src="https://static.elfsight.com/platform/platform.js" async></script>
  <div class="elfsight-app-195d11b9-5a7c-406e-aeb6-0bc3cae6ea19" data-elfsight-app-lazy></div>
</div>