---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="What is a Drop-Off Photo Booth?" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    A <span class="text-primary">drop-off photo booth</span> is the ultimate way to capture memories while keeping things simple and affordable. 
    We deliver a high-quality photo booth to your event, set it up, and let you take it from there—no attendants or extra fluff needed.
  </Fragment>
  <div class="flex justify-center mt-4">
    <a
      href="#how-it-works"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:cog" class="size-8" />
      <span>Check Availability</span>
    </a>
  </div>
</ContentSection>
