---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Packages and Pricing" id="pricing">
  <Fragment slot="lead">
    Something for <span class="text-primary">everyone</span>.
  </Fragment>
</ContentSection>
<script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-b5b83713-7992-4155-a064-2c5666899ae5" data-elfsight-app-lazy></div>
